<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifting Spirits | Home</title>

    <!-- Import CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- Import JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
    

    <style>
        #map {

            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
            border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:auto;
}

/* Style for the info window content */
#content {
   
    padding: 10px;
}

        .box {
            width: 250px;
            height: 150px;
            border: 3px dashed white;
            border-radius: 10px;
            position: relative;
            margin-left: 20px;
            background-color: #898b8ca2;
        }

        .plus {
            position: absolute;
            top: 30%;
            left: 45%;
            font-size: 40px;
            color: white;
            text-decoration: none;


        }

        p {
            position: absolute;
            top: 65%;
            bottom: 30%;
            left: 20px;
            font-size: 17px;
            color: rgb(222, 221, 221);

        }
    </style>

    <!-- <script>
    function initMap() {
        var mapOptions = {
            center: { lat: 37.7749, lng: -122.4194 },
            zoom: 12,
        };

        var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);
    }
</script> -->

</head>

<body>

    <div id="app">
        <main>
            <div class="container-fluid">
                <div class="row">
                    <vertical-navbar :page="page" :is-logged-in="isLoggedIn"></vertical-navbar>
                    <div class="col-lg-10 col-md-9 col-12 background2 p-3 h-100 min-vh-100">
                        <h1 class="ps-2">Your Events</h1>
                        <h6 class="ps-2">Join an Event to see it here</h6>
                        <div class="col-md-4" v-for="joinedEvent in joinedEvents">
                            <div class="card bg-light smaller-card">
                                <!-- Smaller version of the card for joined event -->
                                <!-- Display event details here using {{ joinedEvent.propertyName }} -->
                                <img :src="joinedEvent.img" class="card-img-top small-card-img">
                                <div class="card-body">
                                    <h5 class="card-title">Name: {{joinedEvent.name}}</h5>
                                    <h6 class="card-subtitle">Date: {{joinedEvent.date}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <h1 class="ps-2" >Create a new event </h1>
                            <div class="box">
                                <a href="eventform.html" class="plus">+</a>
                            </div>
                        </div>
                        
                        <h1 class="ps-2 pt-4"> All Upcoming Events </h1>
                        <h6 class="ps-2 mb-4">Click for more details </h6>
                        
                        <!--The div element for the map -->
                        <div style="border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" id="map" class="p-5 mb-2 rounded-3"></div>
                        <script>
                            // Initialize and add the map
                            function initMap() {
                                // default: The location of SIS, SMU
                                var lat = parseFloat(document.getElementById("lat").value);
                                var lng = parseFloat(document.getElementById("lng").value);
                                // var uluru = {lat: -25.344, lng: 131.036};
                                var loc = { lat: lat, lng: lng };

                                // The map, centered at SIS, SMU
                                var map = new google.maps.Map(
                                    // play with the zoom value to zoom in or out
                                    document.getElementById('map'), { zoom: 14, center: loc });
                                // The marker, positioned at SIS, SMU
                                var marker = new google.maps.Marker({ position: loc, map: map });
                            }
                        </script>
                        <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY6hhhPkpG3UR-wlPYGIvKn50JL_gHxPQ&callback=initMap"
                            async defer></script>
                        <input type="hidden" id="lat" name="lat" value="1.2973784" />
                        <input type="hidden" id="lng" name="lng" value="103.8495219" />
                        <div class="container" v-for="(event,index) of created_events">

                            <div class="row mb-3 ">
                                <div class="card bg-light " @click="toggleCard(index)">
                                    <img :src="event.img" class="card-img-top" alt="..." style="object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{event.name}}</h5>
                                        <div v-if="event.expanded" class="my-2">
                                            <div class="card-text mb-2">Date: {{event.date}}</div>
                                            <div class="card-text mb-2 clickable">Location: {{event.location}}
                                            </div>
                                            <button class="btn"style="background-color:orange;" @click="getLoc(event.location)" href="#map" >Show On Map!</button>

                                            
                                            <div class="card-text mb-2 ">Description: {{event.description}}</div>
                                            <div class="card-text mb-2 ">Cost: {{event.cost}}</div>
                                            <div class="card-text mb-2 ">Max Capacity: {{event.max}}</div>
                                            <div class="card-text mb-2 ">Organiser: {{event.organiser}}</div>
                                            <button class="btn"style="background-color:orange;" @click="joinEvent(event)">Join Event
                                                Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>

    <script type="module">



        var loginAuth = JSON.parse(sessionStorage.getItem("user-info"))
        let isLoggedIn = false
        if (loginAuth == null) {
            isLoggedIn = false
        }
        else {
            isLoggedIn = true
        }document.addEventListener('DOMContentLoaded', function () {
            var splide = new Splide('.splide', {
                type: 'loop',
                drag: 'free',
                snap: true,
                Height: 200,
                Width: 200,
                perPage: 3,
            });

            splide.mount();
        });

        
        import navbar from "/components/navbar.js"

        const app = Vue.createApp({
            components: {
                'vertical-navbar': navbar
            },
            data() {
                return {

                    joinedEvents: [],

                    selectedEventIndex: -1,


                    //events made by users
                    created_events: [
                        {
                            name: "Whiskey Tasting Extravaganza",
                            date: "November 15,2023",
                            location: "The Louvre, Rue de Rivoli, 75001 Paris, France",
                            description: "Join us for an evening of fine whiskey tasting. Sample a selection of rare and premium whiskeys from around the world while learning about their history and production. Enjoy live music and gourmet snacks.",
                            cost: "$75 per person",
                            max: "40",
                            organiser: "Whiskey Connoisseurs Club",
                            img: 'components/img/whiskey.webp',
                            expanded: false
                        },

                        {
                            name: "Craft Beer Festival",
                            date: "March 8, 2024",
                            location: "Central Park, New York, NY, USA",
                            description: "Experience the best of craft beer at our annual festival. We'll have over 100 craft breweries showcasing their unique brews. Enjoy live music, food trucks, and beer-related games.",
                            cost: "$40 per person",
                            max: "500",
                            organiser: "Brewmaster Events",
                            img: "components/img/craftbeerfestival.avif",
                            expanded: false
                        },
                        {
                            name: "Wine and Paint Night",
                            date: "September 22, 2023",
                            location: "Sydney Opera House, Bennelong Point, Sydney NSW 2000, Australia",
                            description: "Sip on exquisite wines while unleashing your inner artist. Join us for a guided painting session and create your masterpiece. No prior painting experience required.",
                            cost: "$50 per person",
                            max: "30",
                            organiser: "VinoArt Creations",
                            img: "components/img/wine&paint.png",
                            expanded: false
                        },
                        {
                            name: "Rum Cocktail Cruise",
                            date: "July 12, 2024",
                            location: "Machu Picchu, Urubamba 08680, Peru",
                            description: "Set sail on a sunset cruise and enjoy a variety of rum-based cocktails and tropical vibes. The cruise includes a live reggae band, tropical snacks, and beautiful coastal views.",
                            cost: "$65 per person",
                            max: "60",
                            organiser: "Tropicana Rum Adventures",
                            img: "components/img/cocktailparty.jpg",
                            expanded: false
                        },
                    ],
                    page: 'my_concoction',
                    isLoggedIn: isLoggedIn,
                    model: null,
                }
            },

            computed: {
            },

            methods: {

                toggleCard(index) {
                    this.created_events[index].expanded = !this.created_events[index].expanded;
                },// showMapWithPinpoint(location) {
                //     const geocoder = new google.maps.Geocoder();
                //     const mapContainer = document.getElementById('map-container'); // Assuming you have a map container element with this ID

                //     geocoder.geocode({ address: location }, (results, status) => {
                //         if (status === 'OK' && results[0].geometry.location) {
                //             const map = new google.maps.Map(mapContainer, {
                //                 center: results[0].geometry.location,
                //                 zoom: 15, // You can adjust the zoom level as needed
                //             });
                //             const marker = new google.maps.Marker({
                //                 position: results[0].geometry.location,
                //                 map: map,
                //                 title: location, // You can set a title for the marker
                //             });
                //         } else {
                //             console.error('Error geocoding address:', status);
                //         }
                //     });
                // }
                // ,
                initMap2() {
                    // default: The location of SIS, SMU
                    console.log("helloooooooo")
                    var lat = parseFloat(document.getElementById("lat").value);
                    var lng = parseFloat(document.getElementById("lng").value);
                    // var uluru = {lat: -25.344, lng: 131.036};
                    var loc = { lat: lat, lng: lng };

                    // The map, centered at SIS, SMU
                    var map = new google.maps.Map(
                        // play with the zoom value to zoom in or out
                        document.getElementById('map'), { zoom: 14, center: loc });
                    // The marker, positioned at SIS, SMU
                    var marker = new google.maps.Marker({ position: loc, map: map });
                },
                test1(){
                    console.log("knn")
                    var lat = parseFloat(document.getElementById("lat").value);
                    var lng = parseFloat(document.getElementById("lng").value);
                    // var uluru = {lat: -25.344, lng: 131.036};
                    var loc = { lat: lat, lng: lng };

                    // The map, centered at SIS, SMU
                    var map = new google.maps.Map(
                        // play with the zoom value to zoom in or out
                        document.getElementById('map'), { zoom: 14, center: loc });
                    // The marker, positioned at SIS, SMU
                    var marker = new google.maps.Marker({ position: loc, map: map });
                },
                getLoc(action) {
                    console.log(action)
                    this.test1();
                    // var addr = encodeURI(document.getElementById("addr").value);
                    // console.log(addr);
                    var url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + action + "&key=AIzaSyDY6hhhPkpG3UR-wlPYGIvKn50JL_gHxPQ";
                    var xhttp = new XMLHttpRequest();
                    var self = this;
                    xhttp.onreadystatechange = function () {
                        console.log("Ready state:", this.readyState);
                        if (this.readyState == 4 && this.status == 200) {
                           
                            // following code may throw error if user input is invalid address
                            // so we use try-catch block to handle errors
                            try {
                                
                                // expected response is JSON data
                                var data = JSON.parse(this.responseText);
                                console.log(data,"data");var info = '';
                                
                                // display full address, given post code or partial addr
                           
                                info = self.getFullAddress(data);
                                console.log("try")
                            console.log(info,"info");


                            // refresh the hidden input values with new lat lng coordinates
                            var coordinate = self.getLatLng(data);
                            console.log(coordinate,"jj")
                            document.getElementById("lat").value = coordinate["lat"];
                            document.getElementById("lng").value = coordinate["lng"];
                            // now refresh the map
                            self.initMap2();
                        } catch (err) { // show error message
                            // not a good idea to directly show err.message 
                            // as it may contain sensitive info
                            // document.getElementById("display").innerHTML = err.message;

                            // show a predefined error message string

                        }
                    }
                };

                xhttp.open("GET", url, true);
                xhttp.send();
            },


            getFullAddress(data) {
                console.log("getfulladdr")
                var addr = data["results"][0]["formatted_address"];
                var loc = this.getLatLng(data);
                return addr + "<br> lat: " + loc["lat"] + ", lng: " + loc["lng"];
            },

            getLatLng(data) {
                var location = data["results"][0]["geometry"]["location"];
                return location;
            },

            getPostCode(data) {
                var addrcomponents = data["results"][0]["address_components"];
                var postcode = addrcomponents.filter(postcodeHelper);
                // country is an array but there should be only one element
                return postcode[0]["long_name"];
            },

            postcodeHelper(addr) {
                return addr["types"][0] == "postal_code";
            },


            getKeys(data) {
                // data["results"][0] is an object
                // this gets the keys/properties of results[0] object
                var keys = Object.keys(data["results"][0]);
                for (key of keys) {
                    // this prints --
                    /*  address_components
                        formatted_address
                        geometry
                        place_id
                        plus_code
                        types */
                    document.getElementById("display").innerHTML += key + "<br>";
                }
            },

            getCountry(data) {
                // this is an array
                var addrcomponents = data["results"][0]["address_components"];
                // The filter() method creates a new array with array elements that passes a test.
                var country = addrcomponents.filter(countryHelper);
                // country is an array but there should be only one element
                return country[0]["long_name"];
            },

            countryHelper(addr, index) {
                return addr["types"][0] == "country";
            },

            joinEvent(event) {
                this.joinedEvents.unshift(event);
            }



        }
    })
   
    vm = app.mount("#app")

</script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY6hhhPkpG3UR-wlPYGIvKn50JL_gHxPQ&callback=initMap" async defer></script> -->

</body>

</html>