<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifting Spirits | Home</title>

    <!-- Import CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- Import JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>

    <style>

        label{
            color: #CC6E4A;
        }

        

      </style>
    
</head>
<body>

    <div id="app">
        <main>
            <div class="container-fluid">
                <div class="row">
                        <vertical-navbar :page="page" :is-logged-in="isLoggedIn"></vertical-navbar>
                
                    <div class="col-lg-10 col-md-9 col-12 background2 p-3 h-100 min-vh-100" >
                        <form class="container needs-validation">
                            <h1>Create an Event</h1>
                                <div class="mb-3 ">
                                    <label for="eventName" class="form-label">Event Name</label>
                                    <input type="text" class="form-control p-2" v-model="event.name" id="eventName" name="eventName" placeholder="What is the name of your event " required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventDate" class="form-label">Date</label>
                                    <input type="date" class="form-control p-2" v-model="date" id="eventDate" name="eventDate" required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventTime" class="form-label">Time</label>
                                    <input type="time" class="form-control p-2" v-model="time" id="eventTime" name="eventTime" required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventLocation" class="form-label">Location</label>
                                    <input type="text" class="form-control p-2" v-model="event.location" id="eventLocation" name="eventLocation" placeholder="Where is your event going to located " required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventDescription" class="form-label" >Description</label>
                                    <textarea class="form-control" id="eventDescription" v-model="event.description" name="eventDescription" rows="4" placeholder="Please describe your event in a few sentences (Add as many fun details as you would like!) " required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="eventCost" class="form-label">Cost</label>
                                    <input type="text" class="form-control p-2" v-model="event.cost" id="eventCost" name="eventCost" placeholder="How much is the event going to cost " required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventMaxOccupancy" class="form-label">Maximum Occupancy</label>
                                    <input type="number" class="form-control p-2" v-model="event.max" id="eventMaxOccupancy" name="eventMaxOccupancy" placeholder="What is the maximum number of people at the event?" required>
                                </div>
                                <div class="mb-3">
                                    <label for="eventImage" class="form-label">Event Image</label>
                                    <input type="file" class="form-control  p-2" id="eventImage" name="eventImage" accept="image/*" required>
                                </div>
                                <button class="btn" @click="created()" style="background-color: #CC6E4A;color:white" >Create Event</button>
                            </div>
                        </form>
                </div>
        </main>
      </div>


   



<script type="module">
    import navbar from "/components/navbar.js"
    import { Event, createEvent } from "/js/events.js"
    import { isLoggedIn, username } from "/js/check_login.js"
    import { router } from "/js/router.js"

    const app = Vue.createApp({
        components: {
            'vertical-navbar': navbar
        },
        data() {
            return {
                date: undefined,
                time: undefined,
                page: 'events',
                isLoggedIn: isLoggedIn,
                model: null,
                event: new Event(),
                timezone: -8
            }
        },
        methods: {
            created() {
                event.preventDefault()
                event.stopPropagation()
                let validated = true
                var forms = document.querySelectorAll('.needs-validation')
                forms.forEach(function (form) {
                    console.log(form)
                        if (!form.checkValidity()) {
                            validated = false
                            form.classList.add('was-validated')
                            return false
                        }
                    })
                this.event.organiser = username
                if (validated) {
                    this.event.participating=0
                    let time = this.time.split(":")
                    this.event.timestamp = new Date(this.date).getTime() + 1000 * ((time[0]*1+this.timezone) * 60 * 60 + time[1] * 60)
                    createEvent (this.event)
                    alert("Event created!")
                } else{
                    alert("Please fill in all the required fields")
                }
            }
        }
    })
    app.use(router)
    window.vm = app.mount("#app")

</script>

   
    <!-- Add Bootstrap JS via CDN (for Bootstrap features like dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>


























