<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifting Spirits | Home</title>

    <!-- Import CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- Import JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
    <script src="components/navbar.js"></script>
    
</head>
<body>
    <div id="app">
        <main>
            <div class="container-fluid">
                <div class="row">
                    <vertical-navbar :page="page" :is-logged-in="isLoggedIn"></vertical-navbar>
              <!-- Content Area -->
                    <div class="container col-10 p-2 ps-0">
                        <div class="background rounded h-100 p-4">
                            <div class="splide rounded" aria-label="Splide Basic HTML Example">
                                <div class="splide__track">
                                    <h4 class="p-1">Featured Drinks</h4>
                                    <ul class="splide__list">
                                        <li v-for="drink in drinks" class="splide__slide">
                                            <div class="m-1 mb-4">
                                                <div class="card shadow-lg">
                                                    <div class="card-header text-center p-0">{{drink.type}}</div>
                                                    <img :src="drink.img" class="card-img-bottom" alt="..." height="200" style="object-fit: cover;">
                                                </div>
                                                <div style="font-size: 18px;" class="">{{drink.name}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <!-- <div class="w-100 overflow-hidden d-flex flex-wrap flex-column" style="height: 300px;">
                            <div v-for="drink in drinks" class="card w-25 m-3" style="height: 90%;">
                                <img :src="drink.img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{drink.name}}</h5>
                                    <p class="card-text">{{drink.text}}</p>
                                </div>
                            </div>
                            <button></button>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
      </div>

    <!-- Vue.js App -->
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var splide = new Splide( '.splide', {
                type   : 'loop',
                drag   : 'free',
                snap   : true,
                autoHeight: true,
                perPage: 5,
            } );
    
            splide.mount();
        } );
        const app = Vue.createApp({
            data() {
                return {
                    page: 'home',
                    isLoggedIn: false,
                    model: null,
                    drinks: [
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Pizzolato Rosé Extra Dry",
                            type: "wine"
                        },
                        {
                            img: "https://cdn.loveandlemons.com/wp-content/uploads/2020/07/mojito.jpg",
                            name: "Mojito",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.peakales.co.uk/cdn/shop/products/PA_Beer_Bottle_IPA_Front.jpg?v=1633509043",
                            name: "IPA",
                            type: "beer"
                        },
                        {
                            img: "https://hips.hearstapps.com/hmg-prod/images/sangria-index-643044ca71f12.jpg?crop=0.502xw:1.00xh;0.210xw,0&resize=1200:*",
                            name: "Sangria",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.foodandwine.com/thmb/RdbOj6gOlRyV4cpvmmUK7bI0TP4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Wine-Guide-Cabernet-Sauvignon-FT-BLOG0622-2000-6b414113ef0449178e4ee5bf69ceeb5c.jpg",
                            name: "Cabernet Sauvignon",
                            type: "wine"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Piña Colada",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Stout",
                            type: "beer"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Margarita",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Chardonnay",
                            type: "wine"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Martini",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Pale Ale",
                            type: "beer"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Negroni",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Merlot",
                            type: "wine"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Whiskey Sour",
                            type: "cocktail"
                        },
                        {
                            img: "https://www.petitefleursg.com//image/cache/catalog/271376_pizzolato_ros_extra_dry_m-use_nv_pp-700x700.jpg",
                            name: "Lager",
                            type: "beer"
                        }
                        ]
                }
            },
        })
        app.component(
            'vertical-navbar', navbar
        )
        vm = app.mount("#app")
    </script>

    <!-- Add Bootstrap JS via CDN (for Bootstrap features like dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
