<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifting Spirits | Home</title>

    <!-- Import CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- Import JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>

    
</head>
<body>
    <div id="app">
        <main class="d-md-flex">
            <vertical-navbar :page="page" :is-logged-in="isLoggedIn"></vertical-navbar>
              <!-- Content Area -->
              <div class="col-lg-10 col-md-9 col-12 background2 p-3 h-100 min-vh-100" v-if="created_drinks.length > 1">
                    <div class="splide rounded" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <h1 class="p-2">My Concoctions</h1>
                            <ul class="splide__list">
                                <li class="splide__slide"v-for="(drink,index) of created_drinks" >
                                    <div class="m-1 mb-4">
                                        <div class="card">
                                            <img :src="drink.img" class="card-img-top" alt="..." height="200" style="object-fit: cover;" @click = selectDrink(index)>
                                        </div>
                                        <div style="font-size: 18px;" class="card-header text-white text-center p-0">{{drink.name}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class = "row" v-if="!click">
                        <h1 class = "p-3">Click on a drink card to show its full recipe</h1>
                    </div>
                    <div class = "container" v-else>
                        <hr class ="rounded bg-light" style="border-top: 8px solid;border-radius: 5px;">
                            <div class = "row gx-5">
                                <div class = "col-lg-3 pt-3 col-sm-12">
                                    <h4 class = "text-white">{{selected_drink.name}}</h4>
                                    <img :src="selected_drink.img" class="img-fluid rounded" alt="..." style="object-fit:contain;">
                                </div>
                                <div class = "col-lg-3 pt-3 col-sm-12">
                                    <h4 class = "text-white">Ingredients</h4>
                                    <ul style="padding:0;list-style-type: none;">
                                        <li class="pb-1" v-for = "i of selected_drink.ingredients">
                                        <button class="btn btn-outline-dark rounded btn-sm text-white" v-bind:value = i @click="addCart(i)" style="background-color: #CC6E4A;">+</button>
                                                &nbsp{{i}}
                                        </li>
                                    </ul>
                                </div>
                                <div class = "col-lg-3 pt-3 col-sm-12">
                                    <h4 class = "text-white">How to Make</h4>
                                    <ul v-for = "(s,index) of selected_drink.steps" style="padding:0;list-style-type: none;">
                                        <li>{{index+1}}. {{s}}</li>
                                    </ul>
                                </div>
                                <div class = "col-lg-3 h-auto pt-3 background2 rounded-end col-sm-12">
                                    <div class = "row">
                                        <h4 class = "text-white pl-0">My Cart</h4>
                                            <h6 class = "text-white-50" v-if="cart.length==0">Empty</h6>
                                            <ol class = "text-white" id="finalCart" v-else style="list-style-type: none;">
                                                <li v-for="item of cart" class="pl-1 pb-2" ><i class="bi-circle"></i> {{item.name}}&nbsp&nbsp&nbsp x{{item.qty}}</li>
                                                <a class ="btn text-white p-1" href="checkout.html" style="background-color: #CC6E4A;"> <i class="bi bi-cart4"></i> Checkout</a>
                                            </ol>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-lg-10 col-md-9 col-12 background2 p-3 h-100 min-vh-100" v-else>
                <div class="background rounded h-100 p-4 text-center align-self-center">
                    <h1>You haven't created any drinks yet!</h1>
                </div>
            </div>
        </main>
      </div>

    <!-- Vue.js App -->
    <!-- <script src="your-module.js" type="module"></script> -->
    <script type="module">
        import {created_drinks} from "./js/my_concoctions.js" 
        import navbar from "/components/navbar.js"
        import { username, isLoggedIn } from "/js/check_login.js"
        import { router } from "/js/router.js"

        const drinks = created_drinks
        console.log(drinks)
        function loadSplide (num) {
            let type = 'slide'
            if (num > 3) {
                type = 'loop'
            }
            var splide = new Splide( '.splide', {
                type   : type,
                drag   : 'free',
                snap   : true,
                Height: 200,
                Width: 200,
                perPage: 3,
            } );
    
            splide.mount();
        }

        const app = Vue.createApp({
            components: {
                'vertical-navbar': navbar
            },
            data() {
                return {
                    isLoggedIn:isLoggedIn,
                    //shopping cart
                    cart : [],
                    //boolean when card is not selected
                    click : false,
                    //pick drink from list of created drinks
                    selected_drink : {},
                    
                    //drinks made by user called from firestore api

                    page: 'my_concoction',
                    isLoggedIn: isLoggedIn,
                    created_drinks: drinks
                }
            },

            computed: {
            },

            methods: {

                addCart(item){
                    editCart: {
                        for (let cartItems of this.cart) {
                            if(cartItems.name == item) {
                                cartItems.qty +=1;
                                sessionStorage.setItem("order",JSON.stringify({cart: this.cart}))
                                break editCart;
                            }
                        }
                        var toAdd = {
                            name: item,
                            qty: 1,
                        };
                        (this.cart).push(toAdd)
                        sessionStorage.setItem("order",JSON.stringify({cart: this.cart}))
                    }
                },

                selectDrink(index){
                    this.selected_drink = this.created_drinks[index]
                    if(this.click == false){
                        this.click = true
                    }
                },
            }
        })
        app.use(router)
        window.vm = app.mount("#app")

        // console.log(vm.created_drinks.length, "hi")
        loadSplide()
    </script>

    <!-- Add Bootstrap JS via CDN (for Bootstrap features like dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

</body>
</html>
