.button-fancy-circle {
    width:25px;
    height:25px;
    appearance: none;
    border: none;
    background-color: $text;
    margin: 0;
    font: inherit;
    color: currentColor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        transform: scale(1);
        transition: 150ms transform ease-in-out;
        background-color: $background2;
        clip-path: circle();
    }
    &:hover::before {
        transform: scale(0.76);
    }
}

.check-fancy {
	appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: CanvasText;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
    &:checked::before {
        transform: scale(1);
    }
}


.check-rating-fancy {
	appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    transform: translateY(-0.075em);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: 120ms;
    &:checked {
        background-color: $accent;
    }
}
.rating-parent .star-parent .check-rating-fancy {
    background-color: #fff;
}

/* prev siblings should be red */
.rating-parent:hover .star-parent .check-rating-fancy {
    background-color: $accent;
}
.rating-parent .star-parent:hover ~ .star-parent .check-rating-fancy {
    background-color: #fff;
}


.link-fancy {
    background: linear-gradient(45deg, $accent, #d14545) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    text-decoration: none;
    color: inherit;
    line-height: 1;
    padding-bottom: 2px;
    --bg-h: 2px;
}
.link-fancy:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}