
table {
    width: 100%;
    border-collapse: separate;
}

th {
    background-color: $background;
}

tr td {
    background-color: $background2;
}

th, td {
    padding: 6px;
}

tbody tr:nth-child(even) td {
    background-color: rgba($background2, 80%);
}

th:first-child {
    border-radius: .50rem 0 0 0;
}
th:last-child {
    border-radius: 0 .50rem 0 0;
}
tr:last-child td:first-child {
    border-radius:  0 0 0 .50rem;
}
tr:last-child td:last-child {
    border-radius: 0 0 .50rem 0;
}

.profile {
    object-fit: cover;
    width: 25px;
    height: 25px;
}

.drink-alert {
    width:100%;
    background-color: $background2;
    padding: 6px;
}