// Colors
@import 'colors';
@import 'fancy';
@import 'modal';
@import 'profile';
@import 'tracking';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700;1,900&family=Mulish:wght@200;300;400;500;600;700&display=swap');

// Fonts
$normal: 'Exo 2', sans-serif;

* {
    font: 100% $normal;
}

body {
	background: linear-gradient(-45deg,  #d03667,#ffd045, #d14545);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    color: $text;
    font-size: 15px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (min-width: 768px) {
    #sidebar {
        height: 100vh;
    }
} 

#sidebar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}

#sidebar {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h1 {
    font: 200% $normal;
    font-weight: bold;
}

a {
    color: $text;
}

.background {
    background-color: $background;
}
.background2 {
    background-color: $background2;
}
.background3 {
    background-color: $background3;
}

.card {
    background-color: $background;
}

.nav-link,
.nav-link:active,
.nav-link:visited,
.nav-link:visited:hover {
    color: $text !important;
    padding: 8px;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:hover {
    background-color: $accent;
    color: $background !important;
}

.nav-pills .nav-link:hover {
    background-color: darken($accent, 25%);
    color: $text;
}

.category {
    color: $accent;
}


.orange {
    color: $accent;
}

.bg-orange {
    background-color: $accent;
}